Pruebas estáticas/~$actico4.odt
Pruebas estáticas/~$ecklist.docx
Pruebas estáticas/~WRD4078.tmp
/.metadata/
DeNumeroALetra/src/test/~$Prueba_de_escritorio_Conversor.xlsx
~$Prueba_de_escritorio_Conversor.xlsx
